*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow: auto;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: var(--color-text);
}

:root {
  --color-primary: #c06060;
  --color-tasks: #dd63cc;
  --color-button-primary: #4dd083;
  --color-button-secondary: #5163ed;
  --color-input: #49a6d1;
  --color-input--focus: #4295bc;
  --color-icon-primary: #d549bb;
  --color-icon-secondary: #44aa3c;
  --color-icon-tertiary: #b41f1f;
  --color-black: #000;
  --color-text: #1a161a;
  --color-placeholder: #1a161a6d;

  --font-size-bg: 4.3rem;
  --font-size-md: 1.6rem;
  --font-size-sm: 1rem;

  --container-box-shadow: 3px 3px 0 #000000;
  --button-box-shadow: 3px 3px 0 #000000;
  --standard-border: 1px solid black;
  --modal-box-shadow: 5px 5px 0 #000000;
  --button-box-shadow-hover: 4px 4px 0 #000000;
  --button-box-shadow-focus: 6px 6px 0 #000000;
}

li {
  list-style: none;
}

input {
  font-family: inherit;
  border: none;
}

input:focus {
  outline: none;
  color: inherit;
}

button {
  transition: all 0.15s ease;
  border: none;
  cursor: pointer;
}

button:hover {
  box-shadow: var(--button-box-shadow-hover);
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

/* ::selection {
  background: #444;
  color: #fff;
} */
